
<footer>
    <div class="container mx-auto flex py-10 flex-col md:flex-row">
        <div class="md:w-1/4 px-4">
            <img src="{{.Site.BaseURL}}img/lotus.jpg" alt="complete muscle therapy" width="100" class="mx-auto pb-10"/>
            <p class="text-gray-500 text-sm">When you feel like your daily work routine really exhausted you, feel free to come by. Our professional masseurs will do their best to sooth and calm your body & mind!</p>
        </div>
        <div class="md:w-1/4 px-4">
            <h3 class="uppercase text-white pb-10 text-xl">Contact</h3>
            <p class="text-gray-300 text-sm">Email: completemuscletherapy@gmail.com</p>
            <p class="text-gray-300 text-sm">Phone: 555-555-5555</p>
        </div>
        <div class="md:w-1/4 px-4">
            <h3 class="uppercase text-white pb-10 text-xl">Services</h3>
            <ul>
                <li class="list-none text-gray-300 text-sm"><a href="">Aromatherapy</a></li>
                <li class="list-none text-gray-300 text-sm"><a href="">Neuromusclar</a></li>
                <li class="list-none text-gray-300 text-sm"><a href="">Hot Stones</a></li>
                <li class="list-none text-gray-300 text-sm"><a href="">Lavendar Steam Eye Mask</a></li>
            </ul>
        </div>
        <div class="md:w-1/4 px-4">
            <h3 class="uppercase text-white pb-10 text-xl">Subscribe</h3>
            <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<form action="https://completemuscletherapy.us19.list-manage.com/subscribe/post?u=e87960211b034900fe321705d&amp;id=b8fdcd116c" method="post"name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<input type="email" value="" name="EMAIL" class="email shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-2" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e87960211b034900fe321705d_b8fdcd116c" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full" style="background:#EA79A5"></div>
</form>

<!--End mc_embed_signup-->
        </div>
        </div>
</footer>
</body>
</html>